{% extends "layout.html" %}

{% block script %}
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/static/css/about-index.css">
{% endblock %}

{% block nav-about %}sel{% endblock %}

{% block content %}
{% if intro != '' %}
<div class="sec-wrapper">
    <h3 class="sec-title">Who We are</h3>
    <div class="sec-content sec-intro">
        <p class="intro-content">
            {{ intro.content }}
        </p>
    </div>
</div>
{% endif %}
{% if pursuit != '' %}
<div class="sec-wrapper">
    <h3 class="sec-title">What We Pursue in Research</h3>
    <div class="sec-content sec-pursuit">
        <ul class="pursuit-list">
            {% for pursuit in pursuits %}
            <li class="pursuit-item">
                <h4 class="sec-subtitle pursuit-title">{{ pursuit.title }}</h4>
                <p class="pursuit-content">{{ pursuit.content }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
{% if offer != '' %}
<div class="sec-wrapper">
    <h3 class="sec-title">Becoming CIxD Members</h3>
    <div class="sec-content sec-offer">
        <p class="offer-content">
            {{ offer.content }}
        </p>
    </div>
</div>
{% endif %}
{% if contact != '' %}
<div class="sec-wrapper">
    <h3 class="sec-title">Contact Us</h3>
    <div class="sec-content sec-contact">
        <div class="contact-address">
            <h4 class="sec-subtitle contact-title">Creative Interaction Design Lab.</h4>
            <p class="contact-details">
                {{ contact.building }}<br>
                {{ contact.address }}
            </p>
            <a class="contact-map" target="blank" href="{{ contact.map_link }}">Google Map</a>
        </div>
        <div class="contact-tel">
            <h4 class="sec-subtitle contact-title">Telephone & Fax Number</h4>
            <p class="contact-details">
                <b>TEL.</b>{{ contact.telephone }}
                <b>FAX.</b>{{ contact.fax }}
            </p>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
