{% extends "layout.html" %}

{% block script %}
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/static/css/projects-grants.css">
{% endblock %}

{% block nav-projects %}sel{% endblock %}
{% block nav-researchgrants %}sel{% endblock %}

{% block content %}
<div class="row section">
    <h3 class="section-title">government / kaist sponsored</h3>
    <div class="section-content">
        <ul class="grant-list">
            {% for grant in grants_gov %}
            <li class="grant-item">
                {% if grant.url %}<a class="grant-url" href="{{ grant.url }}">{% endif %}
                <h5 class="grant-title">{{ grant.title }}</h5>
                <div class="grant-info">
                    <span class="grant-sponsor">{{ grant.sponsor_name }}</span>
                    <span class="grant-date">{{ grant.start_year }} - {{ grant.end_year }}</span>
                </div>
                {% if grant.url %}</a>{% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="row section">
    <h3 class="section-title">corporation sponsored</h3>
    <div class="section-content">
            {% for grant in grants_cor %}
            <li class="grant-item">
                {% if grant.url %}<a class="grant-url" href="{{ grant.url }}">{% endif %}
                <h5 class="grant-title">{{ grant.title }}</h5>
                <div class="grant-info">
                    <span class="grant-sponsor">{{ grant.sponsor_name }}</span>
                    <span class="grant-date">{{ grant.start_year }} - {{ grant.end_year }}</span>
                </div>
                {% if grant.url %}</a>{% endif %}
            </li>
            {% endfor %}
    </div>
</div>
{% endblock %}
