{% extends "layout.html" %}

{% block script %}
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/static/css/projects-grants.css">
{% endblock %}

{% block nav-projects %}sel{% endblock %}

{% block content %}
<div class="sec-wrapper subnav-wrapper">
    <ul class="subnav-list">
        <li class="subnav-item">
            <a href="/projects/list" class="">project list</a>
        </li>
        <li class="subnav-item">
            <a href="/projects/grants" class="sel">research grants</a>
        </li>
    </ul>
</div>
<div class="sec-wrapper">
    <h3 class="sec-title">Government / KAIST Sponsored</h3>
    <div class="sec-content">
        <ul class="grant-list">
            {% for grant in grants_gov %}
            <li class="grant-item">
                <div class="grant-info">
                    <span class="grant-date">{{ grant.start_year }} - {{ grant.end_year }} / sponsored by </span>
                    <span class="grant-sponsor">{{ grant.sponsor_name }}</span>
                </div>
                <h5 class="grant-title">
                    {% if grant.url %}
                        <a href="{{ grant.url }}">{{ grant.title }}</a>
                    {% else %}
                        {{ grant.title }}
                    {% endif %}
                </h5>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="sec-wrapper">
    <h3 class="sec-title">Corporation Sponsored</h3>
    <div class="sec-content">
        <ul class="grant-list">
            {% for grant in grants_cor %}
            <li class="grant-item">
                <div class="grant-info">
                    <span class="grant-date">{{ grant.start_year }} - {{ grant.end_year }} / sponsored by </span>
                    <span class="grant-sponsor">{{ grant.sponsor_name }}</span>
                </div>
                <h5 class="grant-title">
                    {% if grant.url %}
                        <a href="{{ grant.url }}">{{ grant.title }}</a>
                    {% else %}
                        {{ grant.title }}
                    {% endif %}
                </h5>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
