{% extends "layout.html" %}
{% load projects_tags %}

{% block script %}
<script type="text/javascript" src="/static/js/projects-list.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        //Image.init();
        Detail.init();
    });
</script>
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/static/css/projects-list.css">
{% endblock %}

{% block nav-projects %}sel{% endblock %}

{% block content %}
<div class="sec-wrapper subnav-wrapper">
    <ul class="subnav-list">
        <li class="subnav-item">
            <a href="/projects/list" class="">back to project list</a>
        </li>
        <li class="subnav-item">
        <a href="#" class="sel">{{ project.area.title }}</a>
        </li>
    </ul>
</div>
<div class="sec-wrapper">
    <h3 class="sec-title">{{ project.title }}</h3>
    <div class="sec-content">
        {% if project.sum_image %}
        <div class="project-image folded-image">
            <img src="{{ project.sum_image.url }}">
            <button class="image-expand">
                <span class="image-expand-left">\</span>
                <span class="image-expand-right">/</span>
            </button>
        </div>
        {% endif %}
        <span class="project-term">{{ project.start_year }} - <span>{{ project.end_year }}</span></span>
        <p class="project-abstract">{{ project.content }}</p>
        <ul class="research-list">
            {% for research in project.researches.all %}
            <li class="research-item">
                <h4 class="research-title sec-subtitle">{{ research.title }}</h4>
                <a class="research-link" href="{{ research.url }}">{{ research.paper }}</a>
                <div class="research-details">
                    {% if research.abstract %}
                    <h5 class="research-subtitle">Abstract</h5>
                    <p class="research-abstract">{{ research.abstract }}</p>
                    {% endif %}
                    {% if research.images.all %}
                    <h5 class="research-subtitle">Image</h5>
                        {% for image in research.images.all %}
                        <div class="research-image folded-image">
                            <img src="{{ image.image.url }}">
                            <!--
                            <button class="image-expand">
                                <span class="image-expand-left">\</span>
                                <span class="image-expand-right">/</span>
                            </button>
                            -->
                        </div>
                        <p class="research-image-caption">{{ image.caption }}</p>
                        {% endfor %}
                    {% endif %}
                    {% if research.videos.all %}
                    <h5 class="research-subtitle">Video</h5>
                        {% for video in research.videos.all %}
                        <iframe title="YouTube video player" class="research-video" type="text/html" src="{{ video.url|embed }}" frameborder="0" allowfullscreen></iframe>
                        <p class="research-video-caption">{{ video.caption }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <button type="button" class="research-more">See Details</button>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
