{% extends "layout.html" %}

{% block script %}
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/static/css/publication-journal.css">
{% endblock %}

{% block nav-publication %}sel{% endblock %}
{% block nav-journalconference %}sel{% endblock %}

{% block content %}
<div class="row section">
    <h3 class="section-title">journals</h3>
    <div class="section-content">
        <div class="pub-group">
            <h4 class="pub-scope">international</h4>
            <ul class="pub-list">
            {% for pub in pubs_jour %}
                {% if pub.scope == "INT" %}
                <li class="pub-item">
                    <a href="{{ pub.url }}">{{ pub.title }}</a>
                </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
        <div class="pub-group">
            <h4 class="pub-scope">domestic</h4>
            <ul class="pub-list">
            {% for pub in pubs_jour %}
                {% if pub.scope == "DOM" %}
                <li class="pub-item">
                    <a href="{{ pub.url }}">{{ pub.title }}</a>
                </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="row section">
    <h3 class="section-title">conferences</h3>
    <div class="section-content">
        <div class="pub-group">
            <h4 class="pub-scope">international</h4>
            <ul class="pub-list">
            {% for pub in pubs_conf %}
                {% if pub.scope == "INT" %}
                <li class="pub-item">
                    <a href="{{ pub.url }}">{{ pub.title }}</a>
                </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
        <div class="pub-group">
            <h4 class="pub-scope">domestic</h4>
            <ul class="pub-list">
            {% for pub in pubs_conf %}
                {% if pub.scope == "DOM" %}
                <li class="pub-item">
                    <a href="{{ pub.url }}">{{ pub.title }}</a>
                </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
