{% extends "layout.html" %}

{% block script %}
<script type="text/javascript" src="/static/js/main-index.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        PhotoBooth.init();
        News.init();
    });
</script>
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/static/css/main-index.css">
{% endblock %}

{% block content %}
<div class="row section">
    <h3 class="section-title">cixd photo booth</h3>
    <div class="section-content">
        <div class="photo-list-wrapper col-lg-12 col-md-12">
            <button type="button" class="photo-list-prev">prev</button>
            <ul class="photo-list">
                {% for image in cover_images %}
                <li class="photo-item" style="left: {{ forloop.counter0 }}00%">
                    <h5 class="photo-item-date">{{ image.date|date:"F d, Y" }}</h5>
                    <img class="photo-item-image" src="{{ image.image.url }}">
                </li>
                {% endfor %}
            </ul>
            <button type="button" class="photo-list-next">next</button>
        </div>
    </div>
</div>
<div class="row section">
    <h3 class="section-title">recent news</h3>
    <div class="section-content">
        <div class="news-list-wrapper">
            <button type="button" class="news-list-prev">prev</button>
            <ul class="news-list">
                {% for article in news_articles %}
                <li class="news-item">
                    <a class="news-link" href="/news/{{ article.id }}">
                        {% if article.images.all %}
                        <div class="news-item-image">
                            {% with image=article.images.all|first %}
                            <img src="{{ image.image.url }}">
                            {% endwith%}
                        </div>
                        {% else %}
                        <div class="news-item-noimage">
                            <img src="/static/res/img_no_image.png">
                        </div>
                        {% endif %}
                        <div class="news-item-details">
                            <div class="news-item-date">{{ article.date|date:"F d, Y" }}</div>
                            <div class="news-item-content">{{ article.title }}</div>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
            <button type="button" class="news-list-next">next</button>
        </div>
    </div>
</div>
<div class="row section">
    <h3 class="section-title">our projects</h3>
    <div class="section-content">
        <ul class="project-list">
            {% for area in areas %}
            <li class="col-lg-5 col-md-5 project-item">
                <h4 class="project-item-title">{{ area.title }}</h4>
                <p class="project-item-note">{{ area.content }}</p>
                <a class="project-item-more" href="/projects#{{ area.title|slugify }}">more</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
