{% extends "layout.html" %}

{% block script %}
<script type="text/javascript" src="/static/js/main-index.js"></script>
<script type="text/javascript">
    /*$(document).ready(function(){
        PhotoBooth.init();
        News.init();
    });*/
</script>
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/static/css/main-index.css">
{% endblock %}

{% block content %}
<div class="sec-wrapper">
    <h3 class="sec-title">CIxD Photo Booth</h3>
    <div class="sec-content sec-photo">
        <ul class="photo-list">
            {% for image in cover_images %}
            <li class="photo-item">
                <img class="photo-image" src="{{ image.image.url }}">
            </li>
            {% endfor %}
        </ul>
        <button type="button" class="photo-prev">prev</button>
        <button type="button" class="photo-next active">next</button>
    </div>
</div>
<div class="sec-wrapper">
    <h3 class="sec-title">Recent News</h3>
    <div class="sec-content sec-news">
        <ul class="news-list">
            {% for article in news_articles %}
            <li class="news-item">
                <a class="news-link" href="/news/{{ article.id }}">
                    <div class="news-thumbnail">
                        {% if article.thumbnail %}
                        <img src="{{ article.thumbnail.url }}">
                        {% else %}
                        <img src="/static/res/img_no_240x160.png">
                        {% endif %}
                    </div>
                    <div class="news-details">
                        <div class="news-date">{{ article.date|date:"F d, Y" }}</div>
                        <div class="news-title">{{ article.title }}</div>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="sec-wrapper project-wrapper">
    <h3 class="sec-title">Our Projects</h3>
    <div class="sec-content sec-project">
        <ul class="project-list">
            {% for area in areas %}
            <li class="project-item">
                <h4 class="sec-subtitle project-title">{{ area.title }}</h4>
                <p class="project-note">{{ area.content }}</p>
                <a class="project-more" href="/projects#{{ area.title|slugify }}">more</a>

            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
