/*
 * Who we are
 */

.sec-intro{
    margin-top: 18px;
}

.intro-content{
    font-size: 16px;
    line-height: 22px;
    color: #595959;
    letter-spacing: 0.04em;
    font-weight: 400;
}

/*
 * What we pursue in research
 */

.pursuit-content{
    font-size: 16px;
    line-height: 22px;
    color: #595959;
    letter-spacing: 0.04em;
    font-weight: 400;
    margin-top: 8px;
    padding-bottom: 26px;
}

.pursuit-item:last-child .pursuit-content{
    padding-bottom: 0;
}


/*
 * Becoming cixd members
 */

.sec-offer{
    margin-top: 18px;
}

.offer-content{
    font-size: 16px;
    line-height: 22px;
    color: #595959;
    letter-spacing: 0.04em;
    font-weight: 400;
}

/*
 * Contact us
 */

.contact-details{
    font-size: 16px;
    line-height: 22px;
    color: #595959;
    letter-spacing: 0.04em;
    font-weight: 400;
    margin-top: 8px;
    padding-bottom: 26px;
    float: left;
}

.contact-map{
    width: 118px;
    height: 36px;
    background: #28d5ae;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    float: right;
    margin-top: 13px;
}

.contact-map:hover{
    background: #ec8274;
}

.contact-tel .contact-details{
    padding-bottom: 0;
}
