/*
 * Basic styles
 */

*{
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
    outline: none;
    letter-spacing: 0.04em;

    /*
     * For better anti-alasing fonts
     */
    text-rendering: optimizingLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
}

html, body{
    background: #fff;
}

html{
    overflow-y: scroll;
}

script, title, style{
    display: none;
}

span, b, i{
    display: inline;
}

button{
    border: 0;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

::selection{
    background-color: #00cbb5;
    color: #fff;
}

::-moz-selection{
    background-color: #00cbb5;
    color: #fff;
}


/*
 * Layout styles - for desktop
 */

.wrapper{
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

/*
 * Side
 */

.side-wrapper{
    width: 200px;
    padding: 36px 15px;
    position: fixed;
}

.logo-wrapper{
    width: 100%;
    height: 114px;
}

.logo-anchor{
    width: 92px;
    height: 44px;
    font-size: 0px;
    background: url(/static/res/img_logo.png) 0 0 no-repeat;
}

.logo-string{
    display: block;
    width: 100%;
    font-size: 15px;
    line-height: 20px;
    color: #808080;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-top: 15px;
}

.nav-wrapper{
    width: 100%;
    overflow: visible;
}

.nav-breaker{
    display: block;
    width: 12px;
    height: 4px;
    background: #bfbfbf;
    border: 0;
    margin: 14px 0;
}

.nav-wrapper>li{
    width: 100%;
    height: 40px;
    overflow: visible;
}

.nav-wrapper>li>a{
    width: 185px;
    height: 100%;
    margin-left: -15px;
    padding-left: 15px;
    font-size: 18px;
    line-height: 40px;
    color: #595959;
    font-weight: 600;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.nav-wrapper>li>a:hover{
    background: #e5e5e5;
}

.nav-wrapper>li.sel>a{
    color: #fff;
    background: #28d5ae;
}

.nav-wrapper>li .subnav-wrapper{
    display: none;
}

.nav-wrapper>li.sel .subnav-wrapper{
    display: block;
}

/*
 * Content
 */

.content-wrapper{
    width: 800px;
    padding: 75px 15px 11px 15px;
    float: right;
}

.sec-wrapper{
    display: inline-block;
    width: 100%;
    margin-top: 25px;
    padding-bottom: 25px;
    /*border-bottom: 1px solid #e5e5e5;*/
}

.sec-title{
    font-size: 22px;
    color: #616161;
    font-weight: 700;
}

.sec-title::before{
    display: block;
    content: "";
    width: 15px;
    height: 4px;
    margin-bottom: 4px;
    background: #28d5ae;
}

.sec-content{
    width: 100%;
    margin-top: 24px;
}

.sec-subtitle{
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    color: #666;
    letter-spacing: 0.04em;
}

.sec-subtitle::before{
    display: block;
    content: "";
    width: 5px;
    height: 5px;
    background: #28d6ae;
    margin-bottom: 4px;
}

/*
 * Subnav
 */

.subnav-wrapper{
    height: 80px;
    padding-top: 48px;
    position: fixed;
    margin-top: -75px;
    background: rgba(255, 255, 255, 0.8);
    z-index: 100;
}

.subnav-list{
    height: 32px;
}

.subnav-item{
    height: 32px;
    padding: 0 20px 0 10px;
    float: left;
    background: url(/static/res/img_deco_subnav.png) right 50% no-repeat;
}

.subnav-item:first-child{
    padding-left: 0;
}

.subnav-item:last-child{
    padding-right: 0;
    background: none;
}

.subnav-item a{
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;
    color: #949494;
    text-transform: uppercase;
}

.subnav-item a.sel{
    color: #ec8274
}

.subnav-item a:hover{
    color: #737373;
}

.subnav-item a.sel:hover{
    color: #ec8274;
}
