/*
 * Photobooth Section
 */

.sec-photo{
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.photo-list{
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    font-size: 0;
}

.photo-item{
    display: inline-block;
    width: 770px;
    height: 400px;
}

.photo-image{
    width: 100%;
    height: 100%;
}

.sec-photo button{
    width: 60px;
    height: 60px;
    font-size: 0;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    opacity: .5;
    cursor: pointer;
    display: none;
}

.sec-photo button.active{
    display: block;
}

.sec-photo button:hover{
    opacity: 1;
}

.photo-prev{
    left: 0;
    background: transparent url(/static/res/btn_prev_photo.png) 0 0 no-repeat;
}

.photo-next{
    right: 0;
    background: transparent url(/static/res/btn_next_photo.png) 0 0 no-repeat;
}

/*
 * News Section
 */

.sec-news{
    width: 100%;
}

.news-list{
    width: 795px;
    margin-left: -25px;
    font-size: 0;
}

.news-item{
    width: 240px;
    margin-left: 25px;
    display: inline-block;
    margin-bottom: 15px;
    vertical-align: top;
}

.news-link{
    display: block;
    width: 100%;
}

.news-link:hover .news-title{
    color: #ec8274;
}

.news-thumbnail{
    width: 240px;
    height: 160px;
}

.news-details{
    width: 100%;
}

.news-date{
    width: 100%;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    color: #28d5ae;
    margin-top: 10px;
    letter-spacing: 0.04em;
}

.news-title{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    color: #595959;
    letter-spacing: 0.04em;
    line-height: 22px;
    margin-top: 8px;
}

/*
 * Project Section
 */

.project-wrapper{
    margin-top: 5px;
}

.sec-project{
    width: 100%;
}

.project-list{
    width: 100%;
}

.project-item{
    width: 100%;
    margin-bottom: 30px;
}

.project-item:last-child{
    margin-bottom: 0;
}

.project-note{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #595959;
    letter-spacing: 0.04em;
    margin-top: 9px;
}

.project-more{
    width: 70px;
    height: 36px;
    background: #28d6ae;
    color: #fff;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    line-height: 36px;
    letter-spacing: 0.04em;
    margin-top: 15px;
}

.project-more:hover{
    background: #ec8274;
}
