.sec-wrapper, .sec-content, .research-list{
    overflow: visible;
}

.subnav-wrapper{
    padding-left: 15px;
    margin-left: -15px;
}

/*
 * Project list
 */

.folded-image{
    width: 100%;
    /*height: 120px;*/
    overflow: hidden;
    position: relative;
}

.folded-image img{
    width: 100%;
    /* margin-top: -160px; */
}

.folded-image .image-expand{
    width: 36px;
    height: 36px;
    background: rgba(40, 213, 174, .7);
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

.folded-image .image-expand:hover{
    background: #ec8274;
}

.folded-image .image-expand span{
    display: block;
    width: 10px;
    height: 10px;
    font-size: 0;
    position: absolute;
    top: 13px;
}

.folded-image .image-expand-left{
    left: 9px;
    background: url(/static/res/img_deco_btn_left.png) 0 0 no-repeat;
}

.folded-image .image-expand-right{
    right: 9px;
    background: url(/static/res/img_deco_btn_right.png) 0 0 no-repeat;
}

.project-term{
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    color: #999999;
    display: block;
    margin-top: 20px;
}

.project-term span{
    color: #28d5ae;
}

.project-abstract{
    font-size: 16px;
    font-weight: 400;
    color: #595959;
    line-height: 22px;
    margin-top: 5px;
}

.research-item{
    margin-top: 0px;
}

.research-link{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #8c8c8c;
    margin-top: 5px;
}

.research-link:hover{
    color: #ec8274;
}

.research-subtitle{
    font-size: 18px;
    font-weight: 600;
    color: #28d5ae;
    margin-top: 20px;
}

.research-abstract{
    font-size: 16px;
    font-weight: 400;
    color: #595959;
    line-height: 22px;
    margin-top: 5px;
}

.research-image{
    margin-top: 10px;
}

.research-image-caption{
    font-size: 14px;
    line-height: 16px;
    font-style: italic;
    color: #8a8a8a;
    padding-left: 15px;
    background: url(/static/res/img_deco_caption.png) 0 5px no-repeat;
    margin-top: 6px;
}

.research-video{
    margin-top: 10px;
    width: 770px;
    height: 440px;
}

.research-video-caption{
    font-size: 14px;
    line-height: 16px;
    font-style: italic;
    color: #8a8a8a;
    padding-left: 15px;
    background: url(/static/res/img_deco_caption.png) 0 5px no-repeat;
    margin-top: 6px;
}

.research-more{
    height: 36px;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background: #28d5ae;
    cursor: pointer;
    margin-top: 14px;
}

.research-more:hover{
    background: #ec8274;
}

.research-details{
    display: none;
}

.research-item{
    width: 800px;
    margin-left: -15px;
    padding: 15px;
}
