/*
 * Popup
 */

.content-wrapper{
    position: relative;
}

.sec-popup{
    display: none;
    position: absolute;
    width: 770px;
    top: 0;
    left: 15px;
    background: rgba(255, 255, 255, .93);
    border: 1px solid #ccc;
}

.popup-content{
    width: 100%;
    padding: 15px;
    font-size: 16px;
    line-height: 22px;
    color: #4d4d4d;
}

/*
 * Project areas
 */

.area-content{
    font-size: 16px;
    line-height: 22px;
    color: #595959;
    font-weight: 400;
    margin-top: -2px;
}

.sec-subtitle{
    margin-top: 26px;
}

.topic-list{
    width: 795px;
    margin-left: -25px;
    margin-top: 15px;
    font-size: 0;
}

.topic-list-more{
    display: none;
    width: 795px;
    margin-left: -25px;
}

.topic-item{
    width: 240px;
    margin: 10px 0 10px 25px;
    display: inline-block;
    vertical-align: top;
    overflow: visible;
}

.topic-item a:hover .topic-title{
    color: #ec8274;
}

.topic-image{
    display: block;
    width: 240px;
    height: 160px;
}

.topic-year{
    display: block;
    font-size: 14px;
    color: #999999;
    text-transform: uppercase;
    margin-top: 12px;
}

.topic-title{
    font-size: 18px;
    line-height: 22px;
    color: #555;
    font-weight: 400;
    font-style: italic;
    margin-top: 5px;
}

.topic-show{
    font-size: 0;
    width: 32px;
    height: 20px;
    background: url(/static/res/btn_more_info.png) 0 0 no-repeat;
    cursor: help;
    margin-top: 10px;
}

.topic-show:hover{
    background-position: 0 -20px;
}

.topic-content{
    display: none;
}

.topic-more{
    height: 36px;
    font-size: 16px;
    line-height: 36px;
    padding: 0 15px;
    color: #fff;
    background: #28d5ae;
    cursor: pointer;
    margin-top: 17px;
}

.topic-more:hover{
    background: #ec8274;
}
