/*
 * Grant list
 */

.grant-list{
    display: block;
    width: 100%;
    padding: 0 15px;
}

.grant-item{
    display: block;
    width: 100%;
    padding: 25px 15px 20px 15px;
    background: #fff;
}

.grant-url{
    display: block;
    width: 100%;
    height: 100%;
}

.grant-url:hover .grant-title{
    color: #f78364;
}

.grant-title{
    color: #595959;
    font-size: 20px;
    line-height: 20px;
    padding: 0;
    margin: 0;
    margin-top: -4px;
}

.grant-info{
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    margin-top: 7px;
}

.grant-sponsor{
    color: #00cbb5;
    margin-right: 8px;
}

.grant-date{
    color: #b2b2b2;
}
