/*
 * Grant list
 */

.grant-item{
    margin-top: -7px;
    margin-bottom: 16px;
}

.grant-item:last-child{
    margin-bottom: 0;
}

.grant-date{
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
    color: #666;
}

.grant-sponsor{
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
    color: #28d5ae;
}

.grant-title{
    font-size: 16px;
    font-weight: 600;
    color: #595959;
    margin-top: -2px;
}
