{% extends "layout.html" %}

{% block script %}
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="/static/css/people-alumni.css">
{% endblock %}

{% block nav-people %}sel{% endblock %}

{% block content %}
<div class="sec-wrapper subnav-wrapper">
    <ul class="subnav-list">
        <li class="subnav-item">
            <a href="/people/members" class="">members</a>
        </li>
        <li class="subnav-item">
            <a href="/people/alumni" class="sel">alumni</a>
        </li>
    </ul>
</div>
{% if phds|length != 0 %}
<div class="sec-wrapper">
    <h3 class="sec-title">Ph.D. Degree</h3>
    <div class="sec-content sec-phd-degree">
        <ul class="alumni-list">
            {% for alumni in phds %}
            <li class="alumni-item">
                <div class="alumni-info">
                    <h4 class="alumni-name" title="{{ alumni.name_kr }}">
                        {{ alumni.name_en }}
                        <span> ({{ alumni.year }})</span>
                        <i class="alumni-company">- {{ alumni.current }}</i>
                    </h4>
                    {% if alumni.papers.all|length != 0 %}
                        {% for paper in alumni.papers.all %}
                        <a class="alumni-thesis" target="blank" href="{{ paper.url }}">{{ paper.title }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
{% if masters|length != 0 %}
<div class="sec-wrapper">
    <h3 class="sec-title">Master Degree</h3>
    <div class="sec-content sec-m-degree">
        <ul class="alumni-list">
            {% for alumni in masters %}
            <li class="alumni-item">
                <div class="alumni-info">
                    <h4 class="alumni-name" title="{{ alumni.name_kr }}">
                        {{ alumni.name_en }}
                        <span> ({{ alumni.year }})</span>
                        {% if alumni.current %}
                        <i class="alumni-company">- {{ alumni.current }}</i>
                        {% endif %}
                    </h4>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
{% endblock %}
